      <% @movies_in_category.each do |movie| %>
        <tr>
          <td><%= movie.title %></td>
          <td><%= movie.rating %></td>
         <% puts "************** movies/show_category"%>
         <% puts movie.title %>
          <% if false %>
          <td>
            <%= form_for @rating do |rating_form| %>
              <%= rating_form.number_field :rating, class: 'rating', 'data-size' => 'xs'%>
              <%= rating_form.submit 'Add', class: 'btn btn-primary btn-success' %>
            <% end %>
          </td>
          <% end %>
         
          <% if !current_user.nil? %>
          	<% if movie.user.email == current_user.email %>
            	<td><%= link_to 'Show', movie, :class => "btn btn-primary"%></td>
            	<td><%= link_to 'Edit', edit_movie_path(movie), :class => "btn btn-primary" %></td>
            	<td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-primary" %></td>
          	<% end %>
          <% end %>
        </tr>
      <% end%>